<canvas id ="webgl"></canvas>

<section id="header" class="section">
    <div class="whiteBG"></div>
    <img src="assets//img/logonoir.png" alt="Image de profile">
    <section>
        <h1>Pierre-Loup</h1>
        <h2>Costes-Pinget</h2>

        <h3>{{age}} ans</h3>
        <h3>Français / Anglais</h3>
    </section>

</section>

<section id="prog" class="section">
     
    <h2>De nombreuses technologies</h2>
    <div class="blackBG"></div>
    <table>
        <tr>
            <td>HTML / CSS</td>
            <td>JS / TS</td>
            <td>Three.js</td>
        </tr>
        <tr>
            <td>Angular</td>
            <td>SQL</td>
            <td>Symfony</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>Android (Java-JEE)</td>
            <td>ADA</td>
        </tr>
    </table>
</section>

<section id="diplome" class="section">
     
    <h2>Mes diplômes</h2>
    <div class="whiteBG"></div>
    <section>
        <h3>Licence professionnelle</h3>
        <h4>Spécialité Application Web</h4>
        <h4>2021-22 : IUT 2 - Grenoble</h4>
    </section>
    <section>
        <h3>DUT</h3>
        <h4>Spécialité Informatique</h4>
        <h4>2019-21 : IUT 2 - Grenoble</h4>
    </section>
    <section>
        <h3>Baccalauréat général</h3>
        <h4>Spécialité Science de l`Ingénieur</h4>
        <h4>2017-19 : Lycée Paul Héroult - Saint Jean de Maurienne</h4>
    </section>
</section>
    
<section id="projet" class="section">
     
    <h2>Des projets</h2>
    <div class="blackBG"></div>

    <section>
        <h3>Ani'Game</h3>
        <h4>2 personnes</h4>
        <h4>Graphiste & Développeur</h4>
        <h4>Logiciel associatif de blind-test</h4>
        <h4><a href="https://github.com/GaelGC/ani-grenoble-games-client"><img src="/assets/img/github.png" alt=""></a></h4>
    </section>

    <section>
        <h3>Rutabagarre</h3>
        <h4>4 personnes / 5 jours</h4>
        <h4>Graphiste & Intégrateur</h4>
        <h4>GameJam - Arrivé en 1ere place</h4>
        <h4><a href="https://github.com/mindstorm38/rutabagarre"><img src="/assets/img/github.png" alt=""></a></h4>
    </section>

    <section>
        <h3>Red Team</h3>
        <h4>3 personnes</h4>
        <h4>Concours de Cyber-Sécurité - Arrivé en 3eme place</h4>
    </section>
</section>

<section id="pro" class="section">
     
    <h2>Des expériences</h2>
    <div class="whiteBG"></div>

    <section>
        <h3>PRO.TO.T.Y.PE.</h3>
        <h4>Symfony & Marzipano</h4>
        <h4>Développement d'un Serious-Game Européen</h4>
        <h4>Développeur, gestionnaire de projet & photographe</h4>
        <h4>Décembre 2022 à Mai 2023 - Grenoble INP - Grenoble</h4>
        <h4><a href="http://prototype-project.eu">Vers PRO.TO.T.Y.PE.</a></h4>
    </section>

    <section>
        <h3>Neoteem</h3>
        <h4>PL/pgSQL</h4>
        <h4>Développement d'un ERP de gestion immobiliaire</h4>
        <h4>Développeur Back-End</h4>
        <h4>Septembre 2021 à Octobre 2022 -Neoteem - Meylan</h4>
        <h4><a href="https://neoteem.fr">Vers Neoteem</a></h4>
    </section>
</section>

<section id="hobbies" class="section">
     
    <h2>Mais je fais aussi...</h2>
    <div class="blackBG"></div>

    <section>
        <h3>Du pixel-Art</h3>
    </section>
    <section>
        <h3>De la photographie</h3>
    </section>
    <section>
        <h3>De la modélisation 3D</h3>
    </section>
    <section>
        <h3>De l'esclade</h3>
    </section>
    <section>
        <h3>De la randonnée</h3>
    </section>
    <h2>Et bien plus !</h2>
</section>

<section id="footer" class="section">
     
    <h2>Retrouvez plus d'informations sur</h2>
    <div class="whitekBG"></div>

    <div id="logo">
        <a><img src="https://github.com/Kalyptien" alt=""><img src="/assets/img/github.png" alt=""></a>
        <a><img src="https://www.linkedin.com/in/pierre-loup-costes-pinget-8930b7205/" alt=""><img src="/assets/img/linkedin.png" alt=""></a>
    </div>
</section>