div
    background: linear-gradient(343deg, rgba(147,72,152,1) 0%, rgba(223,176,89,1) 100%)
    width: 100vw
    height: 100vh
    h1
        font-size: 5em
        justify-content: center
        text-align: center
        vertical-align: center
        padding: auto
        margin: auto
        padding-top: 40vh
        color: white